*{
    padding: 0;
    margin: 0;
}

.row{
    display: flex;
}

.col{
    flex: 1;
    background-color: aquamarine;
    padding: 10px;
    margin: 10px;
}

.col-2{
    flex: 2;
    background-color: aquamarine;
    padding: 10px;
    margin: 10px;
}

.col-3{
    flex: 3;
    background-color: aquamarine;
    padding: 10px;
    margin: 10px;
}
